<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Platform berbagi informasi budaya dan destinasi di Jawa Barat">
    <meta name="theme-color" content="#9ADCFF"/>
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <title>Budaya Kita</title>
    <script src="https://kit.fontawesome.com/eb447e5792.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <skip-link></skip-link>
    <header>
      <app-bar></app-bar>
    </header>
    
    <main id="mainContent" tabindex="0"></main>
  
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
