/* 
  Navbar
*/
.navbar-brand {
  color: white !important;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navbar-drawer {
  padding: 16px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.navbar-drawer:hover {
  color: #F9AB30;
}

.navbar-nav .nav-link {
  padding: 16px;
}

.nav-link {
  color: #201E25 !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #F9AB30 !important;
}

.offcanvas-end {
  width: 200px !important;
}

.offcanvas-header .btn-close {
  padding: 16px;
}

nav.onScroll {
  background: rgba(0,0,0,0.45) !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}