/* Medium Screen */
@media (min-width: 600px) {
  .hero-home {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/images/hero/hero-1.webp);
  }
  
  .hero-budaya {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/images/hero/hero-2.webp);
  }
  
  .hero-destinasi {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/images/hero/hero-3.webp);
  }
  
  .hero-tentang {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/images/hero/hero-4.webp);
  }
  
  .hero-favorite {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url(assets/images/hero/hero-5.webp);
  }

  .hero-inner-home {
    padding-bottom: 100px;
  }
  
  .hero-title {
    font-size: 30px;
  }
  
  .hero-title span {
    font-size: 28px;
  }
  
  .card-highlight-title {
    font-size: 18px;
  }
  
  .btn-highlight {
    width: 200px;
  }

  .card-name {
    padding: 0 32px;
  }
  
  .card-name a {
    font-size: 18px;
  }

  .nav-footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
}

/* Large Screen */
@media (min-width: 990px) {
  .navbar-drawer {
    display: none;
  }
  
  .nav-link {
    color: white !important;
    margin-left: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-title span {
    font-size: 32px;
  }

  .card-highlight-title {
    font-size: 24px;
  }

  .search-input {
    max-width: 35%;
  }
}

@media (min-width: 1200px) {
  .hero-inner {
    padding-left: 36px;
  }

  .about-description {
    margin: 0 32px;
  }
}